.landing {
  background-image: url("../../assets/cloudpressbg.jpg");
  background-position: center;
  background-size: 120%;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.landing-header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.landing-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: justify;
  z-index: 2;
  margin-right: 70vh;
  line-height: 4vh;
  width: 100vh;
}
.landing-text h1 {
  color: white;
  font-size: 7em;
  font-family: "montserrat";
}
.landing-text label {
  font-size: 3vh;
  color: white;
  margin-bottom: 5vh;
}
.landing-text label p {
  font-size: 3vh;
  font-weight: 300;
  color: white;
  font-family: "montserrat";
}

#p1 {
  color: white;
  font-size: 2.5vh;
  font-weight: 500;
  font-family: "montserrat";
}
#p2 {
  font-size: 2vh;
  font-weight: 300;
  font-family: "montserrat";

  color: white;
}
#warning {
  color: red;
  cursor: pointer;
}
hr {
  height: 1vh;
  width: 15%;
  border-width: 0;
  color: white;
}
.landing-form {
  display: none;
  min-width: 55vh;
  font-size: medium;
  font-family: "Montserrat";
  font-weight: bold;
  border-width: 0.1vh;
  padding: 2vh;
  margin: 2vh;
  border-style: solid;
  border-width: 0.08vh;
  border-radius: 4vh;
  background-color: rgb(81, 119, 235);
  -webkit-animation: landing-form 0.6s cubic-bezier(0.23, 1, 0.32, 1) both;
  animation: landing-form 0.6s cubic-bezier(0.23, 1, 0.32, 1) both;
  animation-delay: 2s;
}
.landing-form p {
  color: rgb(196, 124, 124);
  cursor: pointer;
  margin-top: 1vh;
}
.landing-form h1 {
  font-weight: bold;
  color: wheat;
}
