@import url("https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i");

.body {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

header {
  display: flex;
  align-content: center;
  justify-content: center;
  position: relative;
  height: 65vh;
  width: 100%;
  background: #0b345d;
  background-image: linear-gradient(
    155deg,
    #66aad8 0%,
    #20af9c 40%,
    #23a875 100%
  );
  z-index: 0;
}

header h1 {
  color: white;
  text-align: center;
}
.header-content {
  text-align: center;
}
svg {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: auto;
}

.navbar {
  position: absolute;
  top: 0;
  height: 5vh;
  width: 100%;
  background-color: transparent;
  padding-top: 2vh;
  z-index: 2;
  opacity: 0.9;
}
.navbar p {
  margin-left: 190vh;
  color: white;
  cursor: pointer;
}
.navbar p:hover {
  color: black;
  font-weight: bold;
}

.navbar ul li:hover {
  background-color: #285d80;
  cursor: pointer;
}
#wlogo {
  position: absolute;
  height: 20vh;
}

.create-container {
  width: 70%;
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 1vh 0.3vh 2vh 0.1vh rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  position: absolute;
  margin-top: 30vh;
  background-color: white;
  z-index: 1;
}
.txt-container {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 5vh;
}
.txt-container h1 {
  margin-bottom: 2vh;
}

.txt-container p {
  font-size: 2vh;
}

#createbtn {
  width: 15vh;
}

.projects-section {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50vh;
  color: white;
  height: 80vh;
  width: 100%;
  background-image: linear-gradient(
    177deg,
    #1c9164 70%,
    #ffffff calc(70% + 2px)
  );
}
#img2 {
  margin-bottom: 10vh;
}
.projects-conatiner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 20vh;
}
.projects-cards {
  display: flex;
  align-items: center;
  justify-content: center;
}
