@import url("https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i");

.body {
  background-image: url("../../assets/profilebg.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  height: 110vh;
}

header {
  width: 100%;
}

header h1 {
  color: white;
  text-align: center;
}
.header-content {
  text-align: center;
}
.navbar {
  top: 0;
  height: 5vh;
  width: 100%;
}
.navbar p {
  text-align: end;
  color: white;
  cursor: pointer;
}
.navbar p:hover {
  color: rgb(71, 104, 255);
  font-weight: bold;
}

.create-container {
  width: 70%;
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
.create-container label {
  font-size: 4em;
  margin-bottom: 5vh;
}
.txt-container {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-top: 20vh;
}
.txt-container h1 {
  margin-bottom: 3vh;
  font-family: "Raleway", sans-serif;
}

.txt-container p {
  font-size: 2.5vh;
  font-family: "Raleway", sans-serif;
}

#createbtn {
  width: 15vh;
}

.projects-section {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(
    177deg,
    rgb(110, 196, 228) 100%,
    #ffffff calc(70% + 2px)
  );
}

.projects-conatiner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 20vh;
}
.projects-conatiner h1 {
  font-size: 10vh;
  margin: 5vh;
}
.projects-cards {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70vw;
  flex-wrap: wrap;
}
.copyrights {
  background-color: rgb(59, 59, 59);
  color: white;
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2vh;
}
